<!DOCTYPE html>
<html lang="en">
<head>
  <title>News</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">




  <link rel="stylesheet" type="text/css" href=./views/static/css/style.css>


</head>
<body>
 <form action="" method="post" onsubmit="" id="form">
    <div class=figure>
      <p class="head"> dfdf      <p><img class=scaled src="./views/dfdf/dfdf.jpeg"
        alt="Picture">
      <div class="main_text">dfdfd</div>
     
    </div>
	 <div class="menu">
     <div class="menu_text">#MY #YOUR #NEWS</div>
      <button type="submit">
        Вернуться назад
      </button>
    </div>  </form>
<script src="./views/static/js/exit.js"></script>
</body>
</html>
