@import url(http://fonts.googleapis.com/css?family=Raleway:700,800);

html, body { margin: 0; }

:focus { outline: none; }
::-webkit-input-placeholder { color: #DEDFDF; }
::-moz-placeholder { color: #DEDFDF; }
:-moz-placeholder { color: #DEDFDF; }
::-ms-input-placeholder { color: #DEDFDF; }

body {
  background: #6ED0F6;
  background-attachment: fixed;
  background-repeat: repeat;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
}


form {
  width: 450px;
  height: 370px;
  margin: -185px -225px;
  position: absolute;
  left: 50%;
  top: 50%;
}

input[type=radio] { display: none; }

.menu button {
  background: #079BCF;
  border: none;
  border-radius: 16px;
  color: #fff;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 27px;
  height: 72px;
  width: 100%;
  bottom: 0%;
  left: 10%;

  margin-bottom: 10px;
  overflow: hidden;
  display: block;
  /*transition: all .3s cubic-bezier(.6,0,.4,1);*/
}
.menu button span {
  display: block;
  line-height: 72px;
  position: relative;
  transform: translate3d(0,0,0);
}
.menu button:hover {
  background: #007BA5;
}

.button_down{
  position: absolute;
  bottom: 0%;
  left: 10%;
}


#arrow {
  height: 0;
  width: 0;
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: relative;
  left: 32px;
}


#hint {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.message {
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 25px 40px;
  border-radius: 20px;
  background: greenyellow;
  color: #fff;
  transform:  translateY(-20px);
  opacity: 0;
    pointer-events: none;
  transition: 0.4s ease-in-out;
}

.message.active {
  font-size: x-large;
  transform:  translateY(0);
  opacity: 1;
    pointer-events: auto;
}

.message.error {
  background: red;
}


.menu{
  position: fixed;
  left: 0%;
  top: 0%;
  background: #6ED0F6;
  width: 10%;
  height: 100vh;
}

.menu_text{
  padding: 0.5em;
  font-size: 40px;
}



.rectangle {
    background: #6ED0F6;
    position: absolute;
    width: 100%;
    left:  50%;
    top: 50%;
    height: 100vh;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


div.figure {
  background: #6ED0F6;
  float: right;
  border: solid;
  margin: 0.0em;
  padding: 1.0em;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
}
img.scaled {
  width: 100%;
  height: 100%;
}

