<!DOCTYPE html>
<html lang="en">
<head>
  <title>Новость</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">




  <link rel="stylesheet" type="text/css" href=./static/css/one_news_style.css>


</head>
<body>
 <form method="post" onsubmit="" id="form">
    <div class=figure>
      <p class="head"> afdfdfddfdf      <p><img class=scaled src="http://localhost/afdfdfddfdf/afdfdfddfdf.jpeg"
        alt="Picture">
      <div class="main_text">какой-то тест</div>
     
    </div>
	 <div class="menu">
     <div class="menu_text">#MY #YOUR #NEWS</div>
      <button type="submit">
        Вернуться назад
      </button>
    </div>  </form>
<script src="./static/js/exit.js"></script>
</body>
</html>
