<!DOCTYPE html>
<html lang="en">
<head>
  <title>News</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="icon" type="image/png" href="images/icons/favicon.ico" /> -->



  <link rel="stylesheet" type="text/css" href="./news/views/main/static/css/style.css">
  <!-- <link rel="stylesheet" type="text/css" href="./static/css/style.css"> -->


</head>
<body>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <form action="" method="post" onsubmit="" id="form">
    <div class="rectangle" id="rectangle">
       <div id="infinite-scroll">
          <div>
         
          <script>
            document.cookie = "last_element=" + 0 + " ;path=/";
            const dataJSON = JSON.stringify({last_id: 0});
            axios.post("http://localhost:8002/news/get-preview-list", dataJSON, {timeout: 5000})
            .then(function (response) {
              if (response.statusText == "OK") {
                div = document.getElementById('rectangle');

                for (let i = 0; i < response.data.previewList.length; i += 1) {
                  console.log(response.data.previewList[i]);

                  div.innerHTML +=  `<div class=figure>
                                    <p><img class=scaled src="./news/views/` + response.data.previewList[i].Header + `/` + response.data.previewList[i].Header + `.jpeg"
                                      alt="` + response.data.previewList[i].Header + `">
                                    <p><a href="http://localhost:8002/news/get-post?header=`+response.data.previewList[i].Header+`">`+response.data.previewList[i].Header+`</a>
                                  </div>`;
              }
              document.cookie = "last_element=" + response.data.previewList[response.data.previewList.length - 1].Id + " ;path=/";
              
            }

            })
            .catch(function (error) {

            });

          </script>
          </div>
        </div>
        <script>
            function getCookie(name) {
              var value = "; " + document.cookie;
              var parts = value.split("; " + name + "=");
              if (parts.length == 2) return parts.pop().split(";").shift();
            }
       
            window.addEventListener("scroll", function(){
           
                var block = document.getElementById('rectangle');
                var counter = 1;
               
                var contentHeight = block.offsetHeight;      // 1) высота блока контента вместе с границами
                var yOffset       = window.pageYOffset;      // 2) текущее положение скролбара
                var window_height = window.innerHeight;      // 3) высота внутренней области окна документа
                var y             = yOffset + window_height;
               
                // если пользователь достиг конца
                if(y >= contentHeight)
                {
                  last_id = parseInt(getCookie("last_element"), 10)
                  const dataJSON = JSON.stringify({last_id: last_id});
                  axios.post("http://localhost:8002/news/get-preview-list", dataJSON, {timeout: 5000})
                  .then(function (response) {
                    if (response.statusText == "OK" && response.data.previewList.length != 0 && parseInt(getCookie("last_element"), 10) < response.data.previewList[response.data.previewList.length - 1].Id) {
                      
                      var lastId = last_id;
                      for (let i = 0; i < response.data.previewList.length; i += 1) {
                        console.log(response.data.previewList[i]);

                        block.innerHTML +=  `<div class=figure>
                                          <p><img class=scaled src="./news/views/` + response.data.previewList[i].Header + `/` + response.data.previewList[i].Header + `.jpeg"
                                            alt="` + response.data.previewList[i].Header + `">
                                          <p><a href="http://localhost:8002/news/get-post?header=`+response.data.previewList[i].Header+`">`+response.data.previewList[i].Header+`</a>
                                        </div>`;
                        lastId = response.data.previewList[i].Id;
                    }
                    document.cookie = "last_element=" + lastId + " ;path=/";

                  }
                });   
              }
            });   
        </script>

    </div>
  </form>
   <div class="menu">
     <div class="menu_text">#MY #YOUR #NEWS</div>
      <div class="button_down">

        <button type="submit" id="edit_news">
          Редактирование новостей
        </button>
         <button type="submit" id="exit">
          Выйти      
        </button>
      </div>
    </div>
   </div>

  <script src="./news/views/main/static/js/main.js"></script>
  <!-- <script src="./static/js/main.js"></script> -->


</body>
</html>
